.tingle-modal {
    font-family: tahoma, arial;
}

.tingle-modal-box {
    background-color: #07274B;
    width: 530px;
}

.tingle-modal-box__footer {
    background-color: #90CCF1;
}

.tingle-modal__closeLabel {
    font-family: inherit;
}

.modal_default_main, .modal_default_inner {
    background-color: #07274B;
    font-family: tahoma, arial;
}

#sinnerInputContent {
    width: 260px;
}

#enforceDomain, #youtubeThumbnail, #useMarkdown {
    width: 100%;
}

.clr-picker {
    z-index: 2000;
}

.colorFull {
    flex-shrink: 0;
    width: 100%;
    margin-bottom: 30px;

}

.colorFull .clr-field button {
    width: 100%;
    height: 100%;
}

.column {
    float: left;
    width: 50%;
}

.column-wide {
    float: left;
    width: 60%;
}

.column-narrow {
    float: left;
    width: 40%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

ul.sinnerList a, ul.sinnerList a:visited {
    color: #ffffcc;
}

#conflist ul.hiddenUser, #conflist ul.hiddenWord, tr.hiddenDeleted, tr.hiddenUser, tr.unregisteredUser,
tr.hiddenWord, .markdownSource {
    display: none;
}

span.strikeWord, span.strikeUser, span.strikeUser a, td.strikeUser, td.strikeUser a {
    text-decoration: line-through;
    color: #000000;
}

img.youtubeThumbnail {
    padding: 0 4px;
}

div.youtubeThumbnails {
    padding: 8px 0 4px 0;
}

span.userLinks {
    padding-right: 4px;
}

span.userLinks img {
    vertical-align: text-bottom;
}

span.fa, span.fas {
    color: #90CCF1;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.transformedAvatar {
    display: none;
}

img.avatar {
    object-fit: contain;
}

#countersContainer {
    display: table-cell;
}

#countersContainer a.counter {
    vertical-align: top;
}

#countersContainer a.counter img {
    vertical-align: top;
}

#countersContainer a.counter span {
    display: table-cell;
    vertical-align: bottom;
}

.CodeMirror-code {
    font-family: tahoma, arial;
    font-size: 13px;
    font-weight: bold;
    color: #336699;
}

.editor-toolbar {
    color: #000000;
    background-color: #90CCF1;
}

.editor-preview-full, .editor-preview-side {
    font-family: 'Times New Roman', Times, serif, 'Segoe UI Emoji', 'Segoe UI Symbol', 'Segoe UI',
    'Apple Color Emoji', 'Twemoji Mozilla', 'Noto Color Emoji', 'EmojiOne Color',
    'Android Emoji';
    font-size: 19px;
    font-weight: normal;
    color: #FFFFCC;
    background-color: #1F4978;
    text-align: justify;
    line-height: 120%;
    padding-right: 8px;
    padding-left: 8px;
}

.markdownParsed {
    font-family: 'Times New Roman', Times, serif, 'Segoe UI Emoji', 'Segoe UI Symbol', 'Segoe UI',
    'Apple Color Emoji', 'Twemoji Mozilla', 'Noto Color Emoji', 'EmojiOne Color',
    'Android Emoji';
}

.markdownParsed p,
.editor-preview-full p,
.editor-preview-side p {
    margin-block-start: 0px;
    margin-top: 0;
}

.markdownParsed a, .markdownParsed a:visited,
.editor-preview-full a, .editor-preview-full a:visited,
.editor-preview-side a, .editor-preview-side a:visited {
    font-size: 100%;
    color: #90CCF1;
}

.markdownParsed blockquote,
.editor-preview-full blockquote,
.editor-preview-side blockquote {
    border-left: 0.3rem solid #90CCF1;
    margin-left: 0;
    margin-right: 0;
    padding: 0.5rem 1rem;
}

.markdownParsed blockquote *:last-child,
.editor-preview-full blockquote *:last-child,
.editor-preview-side blockquote *:last-child {
    margin-bottom: 0;
}

.markdownParsed code,
.editor-preview-full code,
.editor-preview-side code {
    background: #90CCF1;
    color: black;
    border-radius: .4rem;
    font-size: 86%;
    margin: 0 .2rem;
    padding: .2rem .5rem;
    white-space: nowrap;
}

.markdownParsed pre,
.editor-preview-full pre,
.editor-preview-side pre {
    background: #90CCF1;
    border-left: 0.3rem solid black;
    overflow-y: hidden;
}

.markdownParsed pre > code,
.editor-preview-full pre > code,
.editor-preview-side pre > code {
    border-radius: 0;
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
}

.markdownParsed hr,
.editor-preview-full hr,
.editor-preview-side hr {
    border: 0;
    border-top: 0.2rem solid #90CCF1;
    margin: 2.0rem 0;
}

.markdownParsed table,
.editor-preview-full table,
.editor-preview-side table {
    border-spacing: 0;
    display: block;
    overflow-x: auto;
    text-align: left;
    width: 100%;
    /*!*display: table;*!*/
    /*!*overflow-x: initial;*!*/
}

.markdownParsed td,
.editor-preview-full td,
.editor-preview-side td,
.markdownParsed th,
.editor-preview-full th,
.editor-preview-side th {
    border-bottom: 0.1rem solid #90CCF1;
    padding: 1.2rem 1.5rem;
}

.markdownParsed td:first-child,
.editor-preview-full td:first-child,
.editor-preview-side td:first-child,
.markdownParsed th:first-child,
.editor-preview-full th:first-child,
.editor-preview-side th:first-child {
    padding-left: 0.2rem;
}

.markdownParsed td:last-child,
.editor-preview-full td:last-child,
.editor-preview-side td:last-child,
.markdownParsed th:last-child,
.editor-preview-full th:last-child,
.editor-preview-side th:last-child {
    padding-right: 0.2rem;
}

.markdownParsed b,
.editor-preview-full b,
.editor-preview-side b,
.markdownParsed strong,
.editor-preview-full strong,
.editor-preview-side strong {
    font-weight: bold;
}

.markdownParsed h1,
.editor-preview-full h1,
.editor-preview-side h1,
.markdownParsed h2,
.editor-preview-full h2,
.editor-preview-side h2,
.markdownParsed h3,
.editor-preview-full h3,
.editor-preview-side h3,
.markdownParsed h4,
.editor-preview-full h4,
.editor-preview-side h4,
.markdownParsed h5,
.editor-preview-full h5,
.editor-preview-side h5,
.markdownParsed h6,
.editor-preview-full h6,
.editor-preview-side h6 {
    font-weight: 200;
    letter-spacing: -.1rem;
    margin-bottom: 1.5rem;
    margin-top: 0;
    line-height: 1.2;
}

.markdownParsed h1,
.editor-preview-full h1,
.editor-preview-side h1 {
    font-size: 2.3rem;
}

.markdownParsed h2,
.editor-preview-full h2,
.editor-preview-side h2 {
    font-size: 2rem;
}

.markdownParsed h3,
.editor-preview-full h3,
.editor-preview-side h3 {
    font-size: 1.7rem;
}

.markdownParsed h4,
.editor-preview-full h4,
.editor-preview-side h4 {
    font-size: 1.4rem;
    letter-spacing: -.08rem;
}

.markdownParsed h5,
.editor-preview-full h5,
.editor-preview-side h5 {
    font-size: 1.2rem;
    letter-spacing: -.05rem;
}

.markdownParsed h6,
.editor-preview-full h6,
.editor-preview-side h6 {
    font-size: 1rem;
    letter-spacing: 0;
}

.markdownParsed img,
.editor-preview-full img,
.editor-preview-side img {
    max-width: 100%;
}

.picmoPopup {
    z-index: 20;
}

ul[role=tablist] button[role=tab] {
    padding: 0px;
}
